<EMPLOYEES KEYFIELD="A" FROMROW="2" TOROW="5">
  <EMPLOYEE>
    <NAME COLUMNREFERENCE="B" />
    <DEPARTMENT>
      <DEPARTMENTNAME COLUMNREFERENCE="D" />
    </DEPARTMENT>
    <SALARY SCROLL="YES">
      <TYPE COLUMNREFERENCE="E" />
      <AMOUNT COLUMNREFERENCE="F" />
    </SALARY>
  </EMPLOYEE>
</EMPLOYEES>